@page "/about"

@using System.Diagnostics;
@using System.Reflection;

<h1>
    <i class="bi bi-info-circle" aria-hidden="true"></i>&nbsp;
    關於
</h1>
<div>
    <p>
        使用 <a href="https://dotnet.microsoft.com/en-us/" target="_parent">.NET 7</a> 建置的
        <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/hybrid/tutorials/maui?view=aspnetcore-7.0&pivots=windows" target="_parent">.NET MAUI Blazor</a>
        應用程式。
    </p>
    @if (version != null)
    {
        <p>應用程式版本：@version</p>
    }
</div>

@code {
    private string? version = Assembly.GetExecutingAssembly()
        ?.GetCustomAttribute<AssemblyInformationalVersionAttribute>()?.
        InformationalVersion;
}