@page "/counter"

<h1>計數器</h1>

<p role="status">目前計數：@currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">點擊我</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}