@page "/webhooks/edit/{inputWebhookName}"

@using CommunityToolkit.Maui.Storage;
@using System.Text;
@using System.Text.RegularExpressions;
@using System.Text.Json;
@using System.Web;
@using YTApi.Commons.Models;
@using YTCmtyParser.Commons.Extensions;
@using YTCmtyParser.Commons.Utils;
@using YTCmtyParser.Commons;
@using YTCmtyParser.Data;
@using YTCmtyParser.Commons.Sets;
@inject NavigationManager navigationManager;

<h1>
    <i class="bi bi-pencil" aria-hidden="true"></i>&nbsp;
    編輯&nbsp;Webhook
</h1>
<div class="card mb-2">
    <div class="card-body">
        <div class="col-12">
            <div class="mb-2">
                <label for="iWebhookName" class="form-label">Webhook 名稱</label>
                <input id="iWebhookName" type="text"
                       class="form-control"
                       @bind="sharedWebhookName"
                       placeholder="名稱"
                       disabled="@isWebhookNameDisabled" />
            </div>
            <div class="mb-2">
                <label for="iWebhookUrl" class="form-label">Webhook 網址</label>
                <input id="iWebhookUrl" type="url"
                       class="form-control"
                       @bind="sharedWebhookUrl"
                       placeholder="網址"
                       aria-labelledby="dWebhookUrlHelperBlock"
                       disabled="@isWebhookUrlDisabled" />
                <div id="dWebhookUrlHelperBlock" class="form-text text-danger">
                    ※只支援 Discord 文字頻道的 Webhook 網址。
                </div>
            </div>
            <div class="text-end mb-2">
                <button class="btn btn-success mb-1"
                        @onclick="async () => await Save()"
                        disabled="@isBtnSaveDisabled">
                    <i class="bi bi-save" aria-hidden="true"></i>
                    &nbsp;儲存
                </button>
                &nbsp;
                <button class="btn btn-outline-secondary mb-1"
                        @onclick="async () => await BackTo()"
                        disabled="@isBtnBackToDisabled">
                    <i class="bi bi-arrow-return-left" aria-hidden="true"></i>
                    &nbsp;返回
                </button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? inputWebhookName { get; set; }

    // 來源：https://github.com/discord-net/Discord.Net/blob/dev/src/Discord.Net.Webhook/DiscordWebhookClient.cs#L52
    private static Regex WebhookUrlRegex = new Regex(
        @"^.*(discord|discordapp)\.com\/api\/webhooks\/([\d]+)\/([a-z0-9_-]+)$",
        RegexOptions.Compiled |
        RegexOptions.IgnoreCase |
        RegexOptions.CultureInvariant);

    // 元件的啟用、禁用控制。
    protected bool isWebhookNameDisabled { get; set; } = false;
    protected bool isWebhookUrlDisabled { get; set; } = false;
    protected bool isBtnSaveDisabled { get; set; } = false;
    protected bool isBtnBackToDisabled { get; set; } = false;

    // 變數。
    private string? sharedWebhookName = string.Empty;
    private string? sharedWebhookUrl = string.Empty;
    private List<WebhookData>? sharedWebhooks = new();
    private WebhookData? sharedWebhookData = null;

    protected override async Task OnInitializedAsync()
    {
        // 解碼 inputWebhookName。
        inputWebhookName = HttpUtility.UrlDecode(inputWebhookName);

        if (string.IsNullOrEmpty(inputWebhookName))
        {
            await AlertUtil.ShowSnackbar(
                message: $"找不到要編輯的 Webhook 資料：{inputWebhookName}。",
                action: async () =>
                {
                    await BackTo();
                });

            return;
        }

        await LoadPrefs();

        await Task.CompletedTask;
    }

    /// <summary>
    /// 載入設定
    /// </summary>
    /// <returns>Task</returns>
    private async Task LoadPrefs()
    {
        try
        {
            if (File.Exists(FileSet.WebhooksJson))
            {
                using FileStream fileStream = File.OpenRead(FileSet.WebhooksJson);

                sharedWebhooks = await JsonSerializer
                    .DeserializeAsync<List<WebhookData>>(fileStream);

                sharedWebhookData = sharedWebhooks?.FirstOrDefault(n => n.Name == inputWebhookName);

                if (sharedWebhookData == null)
                {
                    await AlertUtil.ShowSnackbar(
                        message: $"找不到要編輯的 Webhook 資料：{inputWebhookName}。",
                        action: async () =>
                        {
                            await BackTo();
                        });

                    return;
                }

                sharedWebhookName = sharedWebhookData?.Name;
                sharedWebhookUrl = sharedWebhookData?.Url;
            }
        }
        catch (Exception ex)
        {
            await AlertUtil.ShowErrorAlert(ex.Message);
        }
    }

    /// <summary>
    /// 儲存
    /// </summary>
    /// <returns>Task</returns>
    private async Task Save()
    {
        try
        {
            isWebhookNameDisabled = true;
            isWebhookUrlDisabled = true;
            isBtnSaveDisabled = true;
            isBtnBackToDisabled = true;

            if (string.IsNullOrEmpty(sharedWebhookName))
            {
                sharedWebhookName = string.Empty;

                await AlertUtil.ShowToast("請輸入 Webhook 名稱。");

                return;
            }
            else
            {
                if (sharedWebhooks?.Any(n => n != sharedWebhookData &&
                    n.Name == sharedWebhookName) == true)
                {
                    sharedWebhookName = string.Empty;

                    await AlertUtil.ShowToast($"Webhook 名稱 \"{sharedWebhookName}\" 不可重複。");

                    return;
                }
            }

            if (!string.IsNullOrEmpty(sharedWebhookUrl) &&
                !WebhookUrlRegex.IsMatch(sharedWebhookUrl))
            {
                sharedWebhookUrl = string.Empty;

                await AlertUtil.ShowToast("請輸入有效的 Webhook 網址。");

                return;
            }

            if (sharedWebhooks?.Any(n => n != sharedWebhookData && n.Url == sharedWebhookUrl) == true)
            {
                string message = "Webhook 網址不可重複。";

                WebhookData? webhookData = sharedWebhooks
                    .FirstOrDefault(n => n != sharedWebhookData &&
                        n.Url == sharedWebhookUrl);

                if (webhookData != null)
                {
                    message = message.Replace("。", $"，此 Webhook 網址已被 Webhook \"{webhookData.Name}\" 使用。");
                }

                sharedWebhookUrl = string.Empty;

                await AlertUtil.ShowToast(message);

                return;
            }

            if (string.IsNullOrEmpty(sharedWebhookName) ||
                string.IsNullOrEmpty(sharedWebhookUrl))
            {
                await AlertUtil.ShowToast("請輸入 Webhook 名稱或 Webhook 網址。");

                return;
            }

            if (sharedWebhooks != null)
            {
                foreach (WebhookData webhookData in sharedWebhooks)
                {
                    if (webhookData == sharedWebhookData)
                    {
                        webhookData.Name = sharedWebhookName;
                        webhookData.Url = sharedWebhookUrl;

                        break;
                    }
                }
            }

            string content = sharedWebhooks?.ToJsonString() ?? string.Empty;

            await CustomFunction.SaveToFile(
                    filePath: FileSet.WebhooksJson,
                    content: content);
            await AlertUtil.ShowToast($"已修改 Webhook \"{inputWebhookName}\"。");
            await BackTo();
        }
        catch (Exception ex)
        {
            await AlertUtil.ShowErrorAlert(ex.Message);
        }
        finally
        {
            isWebhookNameDisabled = false;
            isWebhookUrlDisabled = false;
            isBtnSaveDisabled = false;
            isBtnBackToDisabled = false;
        }
    }

    /// <summary>
    /// 返回
    /// </summary>
    /// <returns>Task</returns>
    private async Task BackTo()
    {
        try
        {
            await Task.Delay(500);

            navigationManager.NavigateTo("webhooks");
        }
        catch (Exception ex)
        {
            await AlertUtil.ShowErrorAlert(ex.Message);
        }
    }
}