<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">YouTube 社群貼文解析器</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-cloud-download" aria-hidden="true"></span>&nbsp;獲取社群貼文
            </NavLink>
            <NavLink class="nav-link" href="webhooks">
                <span class="oi oi-link-intact" aria-hidden="true"></span>&nbsp;管理&nbsp;Webhook
            </NavLink>
            <NavLink class="nav-link" href="cookies">
                <span class="oi oi-cog" aria-hidden="true"></span>&nbsp;設定&nbsp;Cookies
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}