<button id="btnScrollToTop"
        class="btn btn-primary"
        title="回到最上方">
    <i class="bi bi-arrow-up-circle" aria-hidden="true"></i>
</button>
<br />
<button id="btnScrollToBottom"
        class="btn btn-primary"
        title="回到最下方">
    <i class="bi bi-arrow-down-circle" aria-hidden="true"></i>
</button>